.macbook {
  width: 100%;
  height: calc(88vh - 7vh);
  margin-top: 7vh;
  position: relative;
}

.full-box {
  height: 100%;
  margin-bottom: 1vh;
}

.box-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #1d1d1f;
  font-size: 25px;
  font-family: "Inter", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  line-height: 30px;
  letter-spacing: -0.374px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.button {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.learn-btn,
.buy-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.learn-btn {
  background-color: #007bff;
  color: white;
  border: none;
}

.learn-btn:hover {
  background-color: #0056b3;
}

.buy-btn {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
}

.buy-btn:hover {
  background-color: #007bff;
  color: white;
}

.hero-sections {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100vw;
  position: relative;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero-image1 {
  height: 129px;
  width: 93px;
  object-fit: contain;

  position: absolute;
  top: 12%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.hero-image2 {
  height: 74px;
  width: 89px;
  object-fit: contain;

  position: absolute;
  top: 22%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.hero-image3 {
  height: 48px;
  width: 48px;
  object-fit: contain;

  position: absolute;
  top: 55%;
  left: 42%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.bubble-column {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 1;
}

.box3 {
  position: relative;
  width: 15vw;
  border-radius: 30px;
  background: #007afe;
  color: #fff;
  padding: 20px;
  text-align: left;
  font-weight: 700;
  font-family: "Inter", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 25px;
  font-stretch: 100%;
  z-index: 1;
}
.bubble-column .box3:nth-child(2) {
  font-size: 17px;
}

.sb14::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 5px solid #007afe;
  border-top: 5px solid #007afe;
  border-bottom: 20px solid transparent;
  left: 95%;
  top: 90%;
  z-index: 1;
  transform: rotateY(180deg); /* ✅ correct */
}
.shop-button {
  padding: 10px 10px;
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  font-size: 16px;
  border-radius: 40%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
}

.shop-button:hover {
  background-color: #007bff;
  color: #fff;
}
